body {
    background-color: darkslategray;
}
header {
    text-align: center;
}
h1 {
    color: red;
}
h2 {
    color: greenyellow;
}
input {
    font-size: 30px;
    padding: 20px;
}
button {
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
}
button:hover {
    background-color: white;
    color: black;
}